<%- include ('partials/header.ejs') %>
<%- include ('partials/navbar.ejs') %>
   <body>
      <div class="container">
         <hr>
         <h1>Perguntas</h1>
         <hr>
         <a href="/perguntar" class="btn btn-primary">Perguntar</a>
         <hr>

         <% perguntas.forEach(pergunta=> { %>
            <div class="card">
               <div class="card-body">
                  <h3><%= pergunta.titulo %></h3>
               </div>
               <div class="card-footer">
                  <button class="btn btn-primary">Responder</button>
               </div>
            </div>
         <%
         }) %>
      </div>
   </body>
   <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
   <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
   <script src="/js/bootstrap.min.js"></script>

</html>
<%- include ('partials/footer.ejs') %>